<div class="row">
    <a class="btn btn-primary" ng-click="$ctrl.loadDepartures(false)">Load All</a>
    <a class="btn btn-primary" ng-click="$ctrl.loadDepartures(true)">Load My Departures</a>
</div>
<div class="row" ng-if="$ctrl.showLoadingSpinner">
    <i class="fa fa-blue fa-5x fa-spinner fa-spin col-xs-offset-5"></i>
</div>
<div class="row">
    <table class="table table-striped table-hover" ng-if="!$ctrl.loadingDepartures && $ctrl.departures">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Start Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="departure in $ctrl.departures">
                <td>{{departure.DepartureCode}}</td>
                <td>{{departure.TripName}}</td>
                <td>{{departure.DepartureStartDate}}</td>
            </tr>
        </tbody>
    </table>

</div>