<form class="form-horizontal" role="form">
    <a class="btn btn-default" ng-click="$ctrl.addHeading()">Add Heading</a>
    <div class="tr-heading-config" ng-repeat="configHeading in $ctrl.tripReportConfig.configHeadings">
        <div class="form-group">
            <label class="control-label col-sm-2" for="{{configHeading.id}}_headingText">Heading</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="{{configHeading.id}}_headingText" placeholder="Heading text" ng-model="configHeading.text">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="{{configHeading.id}}_headingDescription">Description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="{{configHeading.id}}_headingDescription" placeholder="Heading description" ng-model="configHeading.description">
            </div>
        </div>
        <div class="config-questions">
            <div class="config-question" ng-repeat="configQuestion in configHeading.configQuestions">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="{{configQuestion.id}}_question">Question</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="{{configQuestion.id}}_question" placeholder="Question text" ng-model="configQuestion.question">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="{{configQuestion.id}}_responseType">Response Type</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="{{configQuestion.id}}_responseType" ng-model="configQuestion.responseType">
                            <option value="">-- Select --</option>
                            <option value="3">1-10 Dropdown</option>
                            <option value="2">Yes/No</option>
                            <option value="1">Textbox</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="{{configQuestion.id}}_required">Required?</label>
                    <div class="checkbox col-sm-10">
                        <label>
                        <input type="checkbox" class="checkbox" id="{{configQuestion.id}}_required" ng-model="configQuestion.isRequired">
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <a class="btn btn-default" ng-click="$ctrl.addQuestion(configHeading)">Add Question</a>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<pre>
    {{ $ctrl.tripReportConfig | json }}
    </pre>