<div class="row">
    <div class="col-md-4">
        <div class="has-error" ng-show="$ctrl.errorMessage">
            <span class="help-block" ng-show="$ctrl.errorMessage">{{$ctrl.errorMessage}}</span>
        </div>
        <form role="form" name="userForm" ng-submit="$ctrl.submitLogin(userForm)" novalidate>

            <div class="form-group" ng-class="{'has-error':userForm.username.$touched && !userForm.username.$pristine && userForm.username.$invalid}">
                <label for="username">Username</label>
                <input type="email" class="form-control" name="username" ng-model="$ctrl.username" ng-model-options="{updateOn: 'blur'}"
                    required id="username">
                <span class="help-block" ng-show="userForm.username.$touched && userForm.username.$error.email">Username must be a valid email address</span>
            </div>
            <div class="form-group" ng-class="{'has-error':userForm.password.$touched && !userForm.password.$pristine && userForm.password.$invalid}">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" ng-model="$ctrl.password" ng-model-options="{updateOn: 'blur'}"
                    required>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
<div class="row">
    <pre>
        {{ $ctrl | json }}
    </pre>
</div>